<h1> Prijavi se </h1>

<div class="form">
    <%= form_with url: nalozi_path do |form| %>
        <div class ="mb-3">
            <%= form.label :email %>
            <%= form.text_field (:email), class: "form-control" %>
        </div>
        <div class ="mb-3">
            <%= form.label :password %>
            <%= form.password_field (:password), class: "form-control"%>
        </div>
    
        <div class="mb-3">
            <%= form.submit "Prijavi se"%>
        </div>
    <% end %>
</div>